.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* =========================================================
                    Interface CSS
   =======================================================*/

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: ivory;
  padding-left: 1em;
  padding-bottom: 2em;
  padding-right: 1em;
}

#param {
  display: flex;
  flex-direction: row;
  margin: 1em;
}

#icon {
  display: flex;
  flex: 1;
}

#heure {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  font-size: 17px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.TitreSection {
  text-align: center;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

#info {
  display: flex;
  flex: 1;
}

#temp {
  display: flex;
  flex: 1;
}

#meteo {
  display: flex;
  flex: 1;
  flex-direction: column;
}

#tempActuel {
  display: flex;
  flex: 1;
  flex-direction: column;
}

#cercle {
  display: flex;
  flex: 1;
}

#tempEvolution {
  display: flex;
  flex: 1;
  flex-direction: column;
}

#tempGestion {
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* Interface cercle */
.circle-svg {
  display: block;
  margin: 10px auto;
  max-height: 30vh;
}
.circle-svg text {
  text-align:center;
  color:black;
  font-size:10px
}
.circle-svg path.percent {
  stroke: #6f6fff;
  fill: none;
  stroke-width: 4;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}
.circle-svg path.around {
    stroke: #c4c4c4;
    fill: none;
    stroke-width: 4;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100; 
  }
}