.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* =========================================================
                    Interface CSS
   =======================================================*/

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#maisonRelou{
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #151c24;
  color: white;
}

#maison {
  display: flex;
  flex: 1;
  background-color: #151c24;
  color: white;
}

#home {
  display: flex;
  flex-direction: column;
  flex: 6;
  background-color: #151c24;
  color: white;
}

#param {
  display: flex;
  flex-direction: row;
  margin: 1em;
}

#icon {
  display: flex;
  flex: 1;
}

#heure {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  font-size: 17px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.TitreSection {
  text-align: center;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

#info {
  display: flex;
  flex: 1;
  padding-left: 1em;
  padding-right: 1em;
}

#temp {
  display: flex;
  flex: 1;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

#meteo {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #1d2329;
  margin: 5px;
  border-radius: 1em;
}

#tempActuel {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #1d2329;
  margin: 5px;
  border-radius: 1em;
}

#cercle {
  display: flex;
  flex: 1;

}

#cercle-container {
  display: flex;
  flex: 1;
}

#tempEvolution {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #1d2329;
  margin: 5px;
  border-radius: 1em;
}

#tempGestion {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #1d2329;
  margin: 5px;
  border-radius: 1em;
}

#phrase {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  margin-bottom: 35px;
}

/* Interface cercle */
.circle-svg {
  display: block;
  margin: 10px auto;
}
.circle-svg text {
  text-align:center;
  color:white;
}


@keyframes progress {
  0% {
    stroke-dasharray: 0 100; 
  }
}

/* Carroussel Météo */
 .container {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: 0rem 0 1rem #000;
}
.card:not(:last-child) {
  margin-right: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
  z-index: 30 !important;
}

.card:hover ~ .card {
  transition: 0.4s ease-out;
}

.title {
  color: white;
  text-align: center;
  margin: 10px;
  margin-bottom: 0;
}

.bar {
  height: 5px;
  margin: 10px;
}

.imgInfo{
  display: flex;
  flex-direction: column;
}

.img {
  max-width: 64px;
  align-self: center;
}

.card-content {
  color: white;
  align-self: center;
}

.filledbar {
  height: 5px;
  border-radius: 1em;
  /*background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);*/
  background: rgb(42,203,236);
  background: linear-gradient(90deg, rgba(42,203,236,1) 0%, rgba(199,203,44,1) 59%, rgba(205,47,47,1) 100%);
}

/* Petite Déco Stylé */
.prettyBar {
  height: 10px;
  /*background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);*/
  background: rgb(42,203,236);
  background: linear-gradient(90deg, rgba(42,203,236,1) 0%, rgba(199,203,44,1) 59%, rgba(205,47,47,1) 100%);
}

.containerGestion {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.fa-minus {
  cursor: pointer;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%,   rgba(42,203,236,1) 70%); 
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 50px;
}

.fa-plus {
  cursor: pointer;
  background:  rgba(205,47,47,1);
  background: radial-gradient(circle,  rgba(199,203,44,1) 0%,  rgba(205,47,47,1) 70%); 
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 50px;
}

#compteur {
  margin: 10px;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*********************************************************
                          NavBar
**********************************************************/

#navbar {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  background-color:  #1d2329;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 20px;
  border-radius: 1em;
}

ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}



/* Change the link color on hover */
.buttonProfil:hover {
  background-color: #151c24;
  color: white;
}

.buttonProfil {
  display: flex;
  justify-content: center;
  text-decoration: none;
  border: none;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  background-color:  #1d2329;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* ************************************************
                  Modal Profil
************************************************* */


#modalProfil {
  position: fixed; /* Stay in place */
  z-index: 35; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modalCreation {
  position: fixed; /* Stay in place */
  z-index: 35; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  z-index: 35;
  display: flex;
  flex-direction: column;
  background-color: #1d2329;
  margin: auto;
  padding: 20px;
  border-radius: 1em;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  top: 12%;
  right: 12%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}